# C++ executables
*.exe
sudoku

# Virtual Machines
.vagrant/

# Text editors and IDEs
*~
*.lock
*.swp
.vscode
.ropeproject/
.vscode/
*.dSYM

# macOS system files
*.DS_Store

# Google Drive and Dropbox
Icon
.dropbox*
